@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin:0;
    padding:0;
}

body{
    Width: 100vh;
    height: 100vh;
    background: #E5E5E5;
    display: flex;
}

.encriptador{
    height: 100vh;
    Width: 100vh;
    margin: 0;
    padding: 0;
}

.Logo{
    margin-top: 40px;
    margin-left: -840px;
    font-family: "Inter", sans-serif;
    font-size: 72px;
    color: #0A3871;
}

.Area_texto {
    margin-top: 68px;
    margin-left: -740px;
    text-align: left;
    width: 577px;
    height: 48px;
    font-family: "Inter", sans-serif;
    border: none;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    color: #0A3871;
    resize: none;
}

.Mensaje_Importante{
    display: flex;
    justify-content: left;
    width:245px;
    height:18px;
    margin-top: 35px;
    margin-left: -740px;
    gap: 8px;
}

.Mensaje_Importante_img{
    width: 16px;
    height: 16px;
}

.Mensaje_Importante_p{
    width: 295px;
    height: 18px;
    opacity: 80%;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400px;
    line-height: 150%;
    color: #495057; 
}

.Botones{
    width: 680px;
    Height: 67px;
    margin-top: 26px;
    margin-left: -740px;
    display: flex;
    gap: 24px;
}

.Boton_Encriptar{
    width: 328px;
    background-color: #0A3871;
    color: #FFFFFF;
    border:none;
    padding: 24px 0;
    border-radius: 24px;
    text-decoration: none;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 19.36px;
}

.Boton_Desencriptar{
    width: 328px;
    border: 1px solid #0A3871;
    color: #0A3871;
    background: #D8DFE8;
    padding: 24px 0;
    border-radius: 24px;
    text-decoration: none;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 19.36px;
}

.Zona_resultados{
    box-sizing: content-box;
    background: #FFFFFF;
    width: 400px;
    height: 944px;
    margin-top: 10px;
    margin-left: 1000px;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px #00000014;
}

.Zona_resultados_imagen{
    width: 336px;
    height: 304px;
    margin-top: 53px;
    padding: 32px;
}

.Zona_resultados_Parrafos{
    width:336px;
    height:122px;
    margin-top: 7px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.parrafo_uno{
    width: 336px;
    height: 58px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;  
    color: #343A40; 
}

.parrafo_dos{
    width: 336px;
    height: 48px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;  
    color: #495057; 
}
